body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 30px 0;
    text-align: center;
}

p {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.secao1 {
    background-color: #afddfb;
}

.secao1 img {
    width: 150px;
}

.secao1 p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.secao1 p a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

.secao2 {
    margin-top: 50px;
    padding-top: 0;
}

span {
    font-weight: bold;
}

.secao3 h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.secao3 h2 {
    color: #1c81c0;
}

.img {
    width: 450px;
}

.texto-azul {
    color: #1d80c1;
}

.texto-amarelo {
    color: #fff81b;
}

.secao4 {
    background-color: #1d80c1;
    color: #ffffff;
}

.secao4 p {
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.secao4 ul {
    width: 135px;
    margin: 40px auto;
}

.secao4 ul li {
    line-height: 42px;
    font-size: 22px;
    text-align: left;
}

h2 {
    font-size: 28px;
    line-height: 42px;
}

.secao6 {
    background-color: #1d80c1;
    color: #ffffff;
}

.secao6 iframe {
    width: 600px;
    height: 300px;
}

.secao6 p {
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto;
    text-align: justify;
}

.secao6 ul {
    list-style-type: none;
    margin: 40px auto;
}

.secao6 ul li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.secao6 ul li a {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}